.root {
  position: relative;
}

.menu {
  position: absolute;
  top: 35px;
  left: -22px;
  padding: 12px;
  background-color: color-mix(in srgb, #000 5%, transparent);
  border: 1px solid color-mix(in srgb, #000 5%, transparent);
  border-radius: 0.75rem;
  will-change: opacity;
  transition: opacity ease-in 200ms;
}

.menu[data-closed] {
  opacity: 0;
}

.trigger {
  display: inline-block;
}

.item {
  margin-bottom: 8px;
  cursor: pointer;
}
.item:last-child {
  margin-bottom: 0;
}
