.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
  z-index: -1;
}

.overlay,
.container {
  will-change: opacity;
  transition: opacity ease-in 200ms;
}

.overlay[data-closed],
.container[data-closed] {
  opacity: 0;
}

.container {
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: 600px;
  outline: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 28px 30px;
  width: 100%;
  max-width: 600px;
  outline: 0px;
  background: #fff;
  border: 1px solid #f2f2f2;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.close {
  margin-left: auto;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
